@using Corona.MVC.ViewModel.Product
@model ProductViewModel

@{
    ViewData["Title"] = "Update Product";
}

<h1>Update Product</h1>

<form id="updateForm" enctype="multipart/form-data">
    <input asp-for="Id" type="hidden" />
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Size"></label>
        <input asp-for="Size" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Color"></label>
        <input asp-for="Color" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="StockCount"></label>
        <input type="number" asp-for="StockCount" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" step="0.01" asp-for="Price" class="form-control" />
    </div>
    <div style="margin-top: 20px" class="form-group">
        <label asp-for="GetProductsImages">Current Image</label>
        @foreach (var item in Model.GetProductsImages)
        {
            <div style="display: grid; grid-template: auto auto">
                <img src="@item.ImageUrl" style="width: 200px; height: auto;" alt="Current Image" />
            </div>
        }
        <label>Change Image</label>
        <input type="file" asp-for="UpdateProductImageDto" class="form-control-file" multiple />
    </div>

    <select class="form-control" id="ProductTypeId" asp-for="ProductTypeId">
        @foreach (var item in ViewBag.ProductType)
        {
            <option value="@item.Id">@item.Title</option>
        }
    </select>
    <select class="form-control" id="CategoryId" asp-for="CategoryId">
        @foreach (var item in ViewBag.Category)
        {
            <option value="@item.Id">@item.Title</option>
        }
    </select>

    <button type="submit" class="btn btn-primary">Update</button>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('#updateForm').on('submit', function (event) {
            event.preventDefault();

            var formData = new FormData(this);
            $.ajax({
                url: 'https://localhost:7295/api/Products/UpdateProduct',
                type: 'PUT',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                    window.location.href = 'https://localhost:7186/Admin/Product';
                },
                error: function () {
                    alert('Error updating category.');
                }
            });
        });
    });
</script>
