@using Corona.MVC.ViewModel.Shop
@model ProductSearchViewModel

<main>
    <!-- breadcrumb area start -->
    <div class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-wrap">
                        <nav aria-label="breadcrumb">
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                                <li class="breadcrumb-item active" aria-current="page">shop</li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb area end -->
    <!-- page main wrapper start -->
    <div class="shop-main-wrapper section-padding">
        <div class="container">
            <div class="row">
                <!-- sidebar area start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <aside class="sidebar-wrapper">

                        <form id="ProductFilterForm" method="get" asp-action="Index">
                            <div class="sidebar-single">
                                <h5 class="sidebar-title">Categories</h5>
                                <div class="sidebar-body">
                                    <ul class="shop-categories">
                                        <select name="Category">
                                            <option value="">All Categories</option>
                                            @foreach (var category in ViewBag.Categorys)
                                            {
                                                <option value="@category.Title">@category.Title</option>
                                            }
                                        </select>
                                    </ul>
                                </div>
                            </div>
                            <br/>
                            <div class="form-group">
                                <label for="priceRange">Price</label>
                                <br />
                                <input type="range" class="slider" id="priceRangeMin" name="minPrice" min="1" max="1000" value="1" onchange="updatePriceLabels()">
                                <input type="range" class="slider" id="priceRangeMax" name="maxPrice" min="1" max="2000" value="1000" onchange="updatePriceLabels()">
                                <p>Price: $<span id="minPriceLabel">1</span> - $<span id="maxPriceLabel">1000</span></p>
                            </div>

                            <div class="sidebar-single">
                                <h5 class="sidebar-title">Brand</h5>
                                <div class="sidebar-body">
                                    <ul class="checkbox-container categories-list">
                                        @foreach (var brand in ViewBag.Brands)
                                        {
                                            <li>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="brand_@brand.Id" name="Brands" value="@brand.Title">
                                                    <label class="custom-control-label" for="brand_@brand.Id">@brand.Title</label>
                                                </div>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-single">
                                <h5 class="sidebar-title">Color</h5>
                                <div class="sidebar-body">
                                    <ul class="checkbox-container categories-list">
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck12" name="Colors" value="black">
                                                <label class="custom-control-label" for="customCheck12">black</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck13" name="Colors" value="red">
                                                <label class="custom-control-label" for="customCheck13">red</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck14" name="Colors" value="blue">
                                                <label class="custom-control-label" for="customCheck14">blue</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck11" name="Colors" value="green">
                                                <label class="custom-control-label" for="customCheck11">green</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck15" name="Colors" value="pink">
                                                <label class="custom-control-label" for="customCheck15">pink</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="sidebar-single">
                                <h5 class="sidebar-title">Size</h5>
                                <div class="sidebar-body">
                                    <ul class="checkbox-container categories-list">
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck111" name="Sizes" value="S">
                                                <label class="custom-control-label" for="customCheck111">S</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck222" name="Sizes" value="M">
                                                <label class="custom-control-label" for="customCheck222">M</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck333" name="Sizes" value="L">
                                                <label class="custom-control-label" for="customCheck333">L</label>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="customCheck444" name="Sizes" value="XL">
                                                <label class="custom-control-label" for="customCheck444">XL</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <button style="width: 120px; height: 30px;border: 1px solid #634E44; margin-bottom: 18px" type="submit" class="btn btn-primary">FILTER</button>

                        </form>

                        <div class="sidebar-banner">
                            <div class="img-container">
                                <a href="#">
                                    <img src="~/assets/img/banner/sidebar-banner.jpg" alt="">
                                </a>
                            </div>
                        </div>
                        <!-- single sidebar end -->
                    </aside>
                </div>
                <!-- sidebar area end -->
                <!-- shop main wrapper start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="shop-product-wrapper">
                        <!-- shop product top wrap start -->
                        <div class="shop-top-bar">
                            <div class="row align-items-center">
                                <div class="col-lg-7 col-md-6 order-2 order-md-1">
                                    <div class="top-bar-left">
                                        <div class="product-view-mode">
                                            <a class="active" href="#" data-target="grid-view" data-bs-toggle="tooltip" title="Grid View"><i class="fa fa-th"></i></a>
                                            <a href="#" data-target="list-view" data-bs-toggle="tooltip" title="List View"><i class="fa fa-list"></i></a>
                                        </div>
                                        <div class="product-amount">
                                            <p>Showing 1–16 of 21 results</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- shop product top wrap start -->
                        <!-- product item list wrapper start -->
                        <div class="shop-product-wrap grid-view row mbn-30">
                            
                            @foreach (var item in ViewBag.Products)
                            {
                                <div class="col-md-4 col-sm-6">
                                    <div class="product-item">
                                        <figure class="product-thumb">
                                            <a asp-action="ProductDetails" asp-route-id="@item.Id">
                                                @{
                                                    var images = item.GetProductsImages;
                                                    if (images.Count > 1)
                                                    {
                                                        <img class="pri-img" src="@images[0].ImageUrl" alt="product">
                                                        <img class="sec-img" src="@images[1].ImageUrl" alt="product">
                                                    }
                                                    else if (images.Count == 1)
                                                    {
                                                        <img class="pri-img" src="@images[0].ImageUrl" alt="product">
                                                        <!-- Optionally handle the case where there is no secondary image -->
                                                    }
                                                    else
                                                    {
                                                        <!-- Optionally handle the case where there are no images -->
                                                    }
                                                }
                                            </a>
                                            <div class="product-badge">
                                                <div class="product-label new">
                                                    <span>new</span>
                                                </div>
                                                <div class="product-label discount">
                                                    <span>10%</span>
                                                </div>
                                            </div>
                                            <div class="button-group">
                                                <a href="#" class="pe-7s-like" data-product-id="@item.Id" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to wishlist"></a>
                                                <a href="compare.html" data-bs-toggle="tooltip" data-bs-placement="left" title="Add to Compare"><i class="pe-7s-refresh-2"></i></a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#quick_view"><span data-bs-toggle="tooltip" data-bs-placement="left" title="Quick View"><i class="pe-7s-search"></i></span></a>
                                            </div>
                                            <div class="cart-hover">
                                                <button class="btn btn-cart" data-product-id="@item.Id">add to cart</button>
                                            </div>
                                        </figure>
                                        <div class="product-caption text-center">
                                            <div class="product-identity">
                                                <p class="manufacturer-name"><a href="product-details.html">Platinum</a></p>
                                            </div>
                                            <ul class="color-categories">
                                                <li>
                                                    <a class="c-lightblue" title="LightSteelblue"></a>
                                                </li>
                                                <li>
                                                    <a class="c-darktan" title="Darktan"></a>
                                                </li>
                                                <li>
                                                    <a class="c-grey" title="Grey"></a>
                                                </li>
                                                <li>
                                                    <a class="c-brown" title="Brown"></a>
                                                </li>
                                            </ul>
                                            <h6 class="product-name">
                                                <a href="product-details.html">@item.Title</a>
                                            </h6>
                                            <div class="price-box">
                                                <span class="price-regular">@item.Price</span>
                                                <span class="price-old"><del>$70.00</del></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                        <div class="paginatoin-area text-center">
                        </div>
                        <!-- end pagination area -->
                    </div>
                </div>
                <!-- shop main wrapper end -->
            </div>
        </div>
    </div>
    <!-- page main wrapper end -->
</main>

<script>
    function updatePriceLabels() {
        var minRange = document.getElementById("priceRangeMin");
        var maxRange = document.getElementById("priceRangeMax");
        var minPriceLabel = document.getElementById("minPriceLabel");
        var maxPriceLabel = document.getElementById("maxPriceLabel");

        minPriceLabel.innerHTML = minRange.value;
        maxPriceLabel.innerHTML = maxRange.value;
    }

    document.addEventListener('DOMContentLoaded', function () {
        updatePriceLabels();
    });
</script>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.btn-cart').click(function (e) {
            e.preventDefault();
            var productId = $(this).data('product-id');
            var basketId = '@ViewBag.BasketId';

            $.ajax({
                url: 'https://localhost:7295/api/BasketProducts/CreateBasketProduct',
                type: 'POST',
                data: {
                    ProductId: productId,
                    BasketId: basketId
                },
                success: function (response) {
                    alert('Product added to cart successfully!');
                },
                error: function (xhr, status, error) {
                    alert('Error adding product to cart: ' + error);
                }
            });
        });
    });
</script>


<script>
    $(document).ready(function () {
        $('.button-group').on('click', '.pe-7s-like', function (e) {
            e.preventDefault();

            var productId = $(this).closest('.product-item').find('.btn-cart').data('product-id');
            var appUserId = '@ViewBag.AppUserId';

            $.ajax({
                url: 'https://localhost:7295/api/WishlistProducts',
                method: 'POST',
                data: {
                    ProductId: productId,
                    AppUserId: appUserId
                },
                success: function (response) {
                    alert('Product added to wishlist successfully!');
                },
                error: function (xhr, status, error) {
                    console.error('Error adding product to wishlist:', error);
                }
            });
        });
    });
</script>